.sidebar{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    position: fixed;
    background: #17254E;
    height: 100vh;
    width: 19%;
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 25px 0px;
    overflow-y: auto;
}

.logo{
    margin-bottom: 20px;
}
.menu{
    width: 100%;
}
.menu div{
    padding: 0px 0px 10px 40px;
}
.menu a{
    display: flex;
    align-items: center;
    /* background-color: ; */
    color: #fff;
    /* width: 100%; */
    border-radius: 80px 0px 0px 80px;
    padding: 8px 5px;
    justify-content: flex-start;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;

}
.active{
    background: #24d5A9;
    color: #fff;
    position: relative;
}
.menu img{
    height: 20px!important;
    width: 20px !important;
    background: rgba(29, 29, 66, 0.66);;
    padding: 5px;
    border-radius: 50%;
}
.menu span{
    margin-left: 10px;
}

.social{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}
.social img{
    width: 40px;
    height: 40px;
    margin-right: 10px;
    margin-top: 8px;
}

@media (max-width : 1120px) {
    .social img{
        margin-right: 5px;
    }
}
@media (max-width: 992px) {
    .sidebar{
        width: 30%;
        left: -100%;
        transition: 850ms;
    }
    .open{
        left: 0%;
    }
    
}
@media (max-width: 700px) {
    .sidebar{
        width: 40%;
    }
}
@media (max-width: 546px) {
    .sidebar{
        width: 50%;
    }
}
@media (max-width: 450px) {
    .sidebar{
        width: 65%;
    }
}

.menu__wrap .active{
    position: relative;
}
.menu__circle__top{

/* background: #24d5A9; */
position: absolute;
right: 0;
width: 0;
      height: 0;
      border-bottom: px solid red;
      border-left: 10px solid transparent;
top: -20px;

}
