.footer {
    display: flex;
    justify-content: space-between;
    background: rgba(16, 28, 67, 0.66);
    border-radius: 12px 0px 12px 0px;
    margin-top: 20px;
    padding: 40px 60px;
    flex-wrap: wrap;
    align-items: flex-start;
}

.footer_box {
    display: flex;
    flex-direction: column;
}

.footer_box p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #24D5A9;
    text-transform: uppercase;
    letter-spacing: 0.06em;
}

.footer_box a {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    line-height: 30px;
}

.footer_box a img {
    margin-right: 10px;
}